<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Sign_In_Pjt</display-name>
	<!-- <servlet>
		<servlet-name>DAO</servlet-name>
		<servlet-class>com.servlet.dao.DAO</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3307/studydb?serverTimezone=UTC</param-value>
		</init-param>
		<init-param>
			<param-name>id</param-name>
			<param-value>study</param-value>
		</init-param>
		<init-param>
			<param-name>pw</param-name>
			<param-value>study</param-value>
		</init-param>

	</servlet> -->
	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3307/userinfo?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>id</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>pw</param-name>
		<param-value>1111</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>